*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size:xx-small;
}

body {
    background-color: #223344;
    width: 100vmin;
}

#week-grid {
    --gap-ratio: 1.25;
    --sub-gap: 1.25fr;
    --square-padding: 10%;
    display: grid;
    width: 90%;
    margin: 5%;
    grid-template-columns:
        repeat(3, 1fr) var(--sub-gap)
        repeat(11, var(--sub-gap) 1fr 1fr var(--sub-gap))
        var(--sub-gap) repeat(3, 1fr);
    grid-template-rows:
        repeat(9, 1fr) var(--sub-gap)
        repeat(6, var(--sub-gap) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr var(--sub-gap)) 
        var(--sub-gap) repeat(6, 1fr);
}

.week {
    position: relative;
    /* border: solid red 1px; */
}

.week::selection {
    
}

.week::before {
    content: "";
    position: absolute;
    background-color: rgb(204, 196, 121);
    aspect-ratio: 1;
    border-radius: 15%;
    /* border: solid teal 1px; */
}

/* Left side */
.week.left::before {
    /* background-color: red; */
    left: var(--square-padding);
}

/* Right side */
.week.right::before {
    /* background-color: green; */
    right: var(--square-padding);
}

/* Top side */
.week.top::before {
    /* background-color: purple; */
    top: var(--square-padding);
}

/* Bottom side */
.week.bottom::before {
    /* background-color: limegreen; */
    bottom: var(--square-padding);
}

/* Aspect ratio styles */
.week.square {
    aspect-ratio: 1;
}

.week.short {
    aspect-ratio: var(--sub-gap);
}

.week.tall {
    aspect-ratio: calc(1/var(--sub-gap));
}

.week.big-square {
    aspect-ratio: 1;
}

/* Anchoring styles based on aspect ratio */
.week.square::before {
    width: calc(100% - 2 * var(--square-padding));
}

.week.short::before {
    height: calc(100% - 2 * var(--square-padding));   
}

.week.tall::before {
    width: calc(100% - 2 * var(--square-padding));
}

.week.big-square::before {
    width: calc( (100% - 2 * var(--square-padding)) / var(--gap-ratio));
}


.week:hover {
    filter: brightness(150%);
    transform: scale(1.5);
    /* transition: all ease 0.125s; */
}